
.applybild{
  width: 100%;
  height: 200px;
  background-color: black;
  margin-top: 75px;
  background-position: center;
  background-size: cover;
  background-image: url("../img/apply.jpg");
}

#java{
  margin-top: 30px !important;
}

#IT{
  margin-top: 30px !important;
  margin-bottom: 30px !important;

}

#edu1{
  margin: 0 auto;
  width: 90%;
  height: auto;
  background-color: #1E4363;
  padding: 10px;
  text-align: left;
}

#edu2{
  margin: 0 auto;
  width: 90%;
  height: auto;
  background-color: #1E4363;
  padding: 10px;
  text-align: left;

}

.remove{
  border: 1px solid #303030;
  background-color: darkred;
  color: black;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;

}

.applybutton{
  border: 1px solid #303030;
  background-color: #ffb00d;
  color: #303030;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;

}
.btnJava{
  margin-left: 11px;
}

.sendsection{
  margin: 0 auto 30px auto;
  text-align: left;
  width: -webkit-calc(90% + 19px);

}

.removehelper{
  text-align: right;
}

.section-text{
  margin: 0 auto;
  width: 90%;
}

#noedus{
  margin: 0 auto 30px auto;
  width: 90%;
}

.thankyou{
  width: 100%;
  height: auto;
  //background-color: #1E4363;
}

#checkmark{
  height: 80px;
  width: 80px;
  color: darkgreen;
}





@media screen and (min-width: $desktop) {

  .applybild{
    height: 500px;
  }

  #edu1, #edu2{
    width: 40%;
  }

  .section-text{
    margin: 0 auto 30px auto;
    text-align: center !important;
    width: 40%;
  }

.sendsection{
  width: -webkit-calc(40% + 19px);
}

  .sendhelper{
    width:40%;
  }

  #noedus{
    width: 40%;
    margin-bottom: 30px;
  }







}
