/*Används för att kunna skriva det som ska vara i desktop läge. */
@mixin desktop {
  @media screen and (min-width: $desktop) {
    @content;
  }
}
$desktop : 800px;
$colorBg:lighten(#1E4363, 70%);
$textfärg:white;

.itInfo {
  color:$textfärg;
  h2 {
    margin-top: 20px;
    padding: 10px;
    color: white;
  }
  .contentit {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 2px;
    text-align: left;
    margin: 0 auto;

    @include desktop {
      display: grid;
      grid-template-columns: auto;
      grid-gap: 10px;
      width: 500px;
    }

    h3 {
      margin: 15px;
      color: white;
      font-size: 30px;
      @include desktop {font-size: 20px;}
    }

    p{
      font-size: 20px;
      text-decoration: none;
      margin: 15px;
      @include desktop{
        font-size: 16px;
        color: $textfärg;
      }
    }

    img{
      margin: 15px 10px 10px 10px;
      border: 1px solid #ddd;
      border-radius: 4px;
      padding: 5px;
      width: 90%;
      height: auto;

      @include desktop{
        margin: 15px;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 100%;
        height: auto;
        justify-content: center;



      }
    }
  }
}
.headerIt {
  background-image: url("../img/it.jpeg");
}